<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Set up your profile</title>
</head>
<body>
    <h1>Firefighter data</h1>
    <form action="#" method="get" th:action="@{/firefighter/saveFirefighter}" th:object="${firefighter}">
    	<p>Your username: <input type="text" name="username"/></p>
   		<p>First name: <input type="text" th:field="*{firstName}" /></p>
        <p>Last name: <input type="text" th:field="*{lastName}" /></p>
        <p>Age: <input type="number" th:field="*{age}" /></p>
       
        <p>Profession: </p>
        <p> <input type="radio" value="firefighter" th:field="*{profession}" />Firefighter</p>
        <p> <input type="radio" value="medic" th:field="*{profession}" />Medic</p>
        
        <p>Eligibility: </p>
        <p> <input type="radio" value="YES" th:field="*{eligibility}"/>Up-to-date</p>
        <p>	<input type="radio" value="NO" th:field="*{eligibility}" />Out-of-date</p>
     
      	<p>City name: <input type="text" name="city" /></p>   
      	
	    <input type="submit" value="Save" />
    </form>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>