<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add new incident</title>
</head>
<body>
    <h1>Incident data</h1>
    <form action="#" method="get" th:action="@{/incident/saveIncident}" th:object="${incident}">
    
    			
     	<p>Your last name: <input type="text" name="lastName"/></p>
        <p>Place: <input type="text" th:field="*{place}" /></p>
        
        <p>Type of incident: </p>
        <p> <input type="radio" value="fire" th:field="*{typeOfIncident}" />Fire</p>
        <p> <input type="radio" value="trafficAccident" th:field="*{typeOfIncident}" />trafficAccident</p>
	    
	    <input type="submit" value="Save" />
    </form>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>