<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add unit</title>
</head>
<body>
    <h1>Unit information</h1>
    <form action="#" method="GET" th:action="@{/unit/saveUnit}" th:object="${unit}">
        <p>City: <input type="text" th:field="*{city}" /></p>
        <p>Truck: <input type="text" th:field="*{truck}" /></p>

	    <input type="submit" value="Save" />
    </form>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>