<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Delete firefighter</title>
</head>
<body>
    <h1>Set up your last name</h1>
   <form action="#" method="get" th:action="@{firefighter/deleteFirefighterByLastName}" >
        <p>Last name: <input type="text" name="lastName" /></p>
	    <input type="submit" value="Save" />
    </form>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>