<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Failed</title>
</head>
<body>
    <h1>Something was wrong, please try again!</h1>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>