<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>FireApp Homepage</title>
</head>
<body>
    <h1>Hello Firefighter</h1>
    <ul>
       <li><a th:href="@{/user/login}">Sign in</a></li>
       <li><a th:href="@{/user/register}">Register</a></li>
       <li><a th:href="@{/unit/addUnit}">Add unit</a></li>
       <li><a th:href="@{/unit/showAllUnits}">Show units</a></li>
       <li><a th:href="@{/firefighter/addFirefighter}">Add Firefighter</a></li>
       <li><a th:href="@{/incident/addIncident}">Add Incident</a></li>
       <li><a th:href="@{/jpql}">JPQL operations</a></li>
       
    </ul>
</body>
</html>