<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Operations</title>
</head>
<body>
    <h1>Show the results of:</h1>
    <ul>
       <li><a th:href="@{/user/showUsers}">Show users</a></li>
       <li><a th:href="@{/unit/showAllUnits}">Show units</a></li>
       <li><a th:href="@{/firefighter/deleteFirefighter}">Delete firefighter by last name</a></li>
    </ul>
</body>
</html>