<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sign in</title>
</head>
<body>
    <h1>User sign in</h1>
   <form action="#" method="post" th:action="@{/user/tryLogin}" >
        <p>Username: <input type="text" name="username" /></p>
        <p>Password: <input type="password" name="password" /></p>

	    <input type="submit" value="Save" />
    </form>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>