<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add user</title>
</head>
<body>
    <h1>User registration</h1>
    <form action="#" method="post" th:action="@{/user/saveUser}" th:object="${user}">
        <p>Username: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>

	    <input type="submit" value="Save" />
    </form>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>