<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>All units</title>
</head>
<body>
    <div th:if="not ${allUnits.isEmpty()}">
        <h1>All registered units:</h1>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Truck</th>
            </tr>
            <tr th:each="singleUnit: ${allUnits}" th:object="${singleUnit}">
                <td th:text="*{idUnit}">12</td>
                <td th:text="*{city}">12</td>
                <td th:text="*{truck}">star</td>
            </tr>
        </table>
    </div>
    <div th:if="${allUnits.isEmpty()}">
        <h1>There is no unit yet :(</h1>
    </div>
</body>
</html>