<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>All users</title>
</head>
<body>
    <div th:if="not${allUsers.isEmpty()}">
        <h1>All registered users:</h1>
        <table border="1">
            <tr>
                <th>Username</th>
            </tr>
            <tr th:each="singleUser:${allUsers}" th:object="${singleUser}">
                <td th:text="*{username}">simpleUser</td>
                
            </tr>
        </table>
    </div>
    
	<div th:if="not${allUnits.isEmpty()}">
        <h1>All registered units:</h1>
        <table border="1">
            <tr>
                <th>City of unit</th>
            </tr>
            <tr th:each="singleUnit:${allUnits}" th:object="${singleUnit}">
                <td th:text="*{city}">Unit</td>
            </tr>
        </table>
    </div>
    
    <div th:if="not${selectedFirefighters.isEmpty()}">
        <h1>Firefighter selected by profession: firefighter:</h1>
        <table border="1">
            <tr>
                <th>Firefighters</th>
            </tr>
            <tr th:each="singleFirefighter:${selectedFirefighters}" th:object="${singleFirefighter}">
                <td th:text="*{firstName}">First name</td>
                <td th:text="*{lastName}">Last name</td>
                
            </tr>
        </table>
    </div>
    
     <div th:if="not${firefighterInUnit.isEmpty()}">
        <h1>Firefighter in one unit: wawa</h1>
        <table border="1">
            <tr>
                <th>Firefighters</th>
            </tr>
            <tr th:each="singleFirefighter:${firefighterInUnit}" th:object="${singleFirefighter}">
                <td th:text="*{firstName}">First name</td>
                <td th:text="*{lastName}">Last name</td>
                
            </tr>
        </table>
    </div>
   
</body>
</html>