<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Success</title>
</head>
<body>
    <h1>Success!</h1>
    <a th:href="@{/home}">Go back to homepage</a>
</body>
</html>